src/main/webapp/help-files/THEMAS_XML_schema_v_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Version 2.0 Under Construction -->
	<!-- Is it possible to declare that only one of the facets/hierarchies/terms will be used for the Unclassfied terms? -->
	<!--  Define thesaurus primary language used. This is just informative - it will not be used during import-->
	<!-- Status enumeration according to primary thesaurus language (Status nodes in the database are always stored with specific names. The translation used here though is defined in 
         THEMAS file: /translations/SaveAll_Locale_And_Scripting.xml - xpath: /root/common/statuses   -->
	<!-- Perhaps include the transliteration replacements that should be followed -->
	<!-- FUTURE TODO: Define a restriction for nt linkClass value so that is contained in the nodelabels wrapper -->
	<!-- FUTURE TODO: support referenceId for translations, UFs, UF translations, Hierarchies (different thatn their TopTerm) and Facets (different thatn their TopTerm) -->
	<!-- currently restriction about reference Ids (xs:unique name="refId") should not include hierarhies as they share the same reference id as their top term -->
	<!-- translation, uf_translations, translations_scope_note attribute linkClass should be restricted to the language identifiers contained in TranslationCategories -->
	<!-- Include facets also with the note that this relationship will not be parsed is just informative and is automatically generated by the BTs and the facets where their hierarchies are defined-->
	<!-- FUTURE TODO: RT linkClass extension -->
	<!-- FUTURE TODO: Term to sources relationships may further need to be characterized by additional field(s) denoting e.g. the page numbers where this term is referenced -->
	<xs:element name="data">
		<xs:annotation>
			<xs:documentation>The root element of THEMAS XML export/import schema.</xs:documentation>
			<xs:documentation>The main goal of this schema is to give a simple and direct overview of the data included in the thesaurus.</xs:documentation>
			<xs:documentation>In order to achieve that we accept some redundancy of information (e.g. providing both referenceIds and Logical names),</xs:documentation>
			<xs:documentation>while such redundant indormation is not intended to be always taken into consideration when processed by a machine.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TranslationCategories" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="facets" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="hierarchies" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="terms" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="nodelabels" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="sources" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="external_vocabularies" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="thesaurus" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Attribute containing the name of the target Thesaurus.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="exportDate" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Attribute containing the timestamp of the target Thesaurus export.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="schemaversion" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Attribute declaring the version of THEMAS XML export schema that is followed in current file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="refId">
			<!-- <xs:selector xpath="./facets/facet/name|./hierarchies/hierarchy/name|./terms/term/descriptor"/> -->
			<xs:selector xpath="./facets/facet/name|./terms/term/descriptor"/>
			<!--  this wil probably change to just ./terms/term/descriptor if Facets are finally linked with top terms -->
			<xs:field xpath="./@referenceId"/>
		</xs:unique>
	</xs:element>
	<xs:element name="TranslationCategories">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the definitions of the translation categories that have been defined for current thesaurus.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TranslationPair" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="translationSeperator" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The separator delimeter character used in order to separate translation language identifier from the translation term. Preferrably single Character.</xs:documentation>
					<xs:documentation>E.g. translationSeperator set to character ':' means that term EN: word should be split using : and the first part i.e. EN will serve as the language identifier while the second part i.e. "word" (trimmed) serves as the translation term</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TranslationPair">
		<xs:annotation>
			<xs:documentation> Element containing the definition for a translation category defined in current Thesaurus. Is consists of an identifier of the language code (preferrably 2 latin capital letters) and a language descriptive name (no gaps Preferrably Camel case - Fist letter uppercase, all others lowercase)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TranslationWord" minOccurs="1" maxOccurs="1"/>
				<xs:element name="TranslationIdentifier" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="facets">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the basic information of the facets of current thesaurus.</xs:documentation>
			<xs:documentation>It must contain at least one facet that will be used for terms that are part of the thesaurus but are not yet classified (e.g. UNCLASSIFIED TERMS).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facet" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hierarchies">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the basic information about the hierarchies of current thesaurus and the facets they are classified.</xs:documentation>
			<xs:documentation>It must contain at least one hierarchy that will be used for terms that are part of the thesaurus but are not yet classified (e.g. Unclassified terms).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hierarchy" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="terms">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the basic information about the term of current thesaurus.</xs:documentation>
			<xs:documentation>It must contain at least one term which will serve as the top term of the Unclassified terms hierarchy (e.g. Unclassified terms).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="term" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sources">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the basic information about the sources of current database (Attention ! the whole database not current thesaurus only).</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="external_vocabularies">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the basic information about the external Vocabularies specified in current Thesaurus.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="external_vocabulary" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nodelabels">
		<xs:annotation>
			<xs:documentation>Wrapper element containg the names of the node labels that are defined for current thesaurus as subclasses of the Broader Term relationship.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nodelabel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="count"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="count" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Non-required informative attibute containing the number of elements contained by its parent wrapper element.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="index" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Non-required informative attibute with the proposed sort order of each element inside a wrapper</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="referenceId" type="xs:integer">
		<xs:annotation>
			<xs:documentation>The Unique thesaurus reference Identifier that can be used instead of its container element Logical name. (available for Facets and Terms - including TopTerms)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:element name="facet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Logical name of the Facet </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="transliteration" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Transliteration of logical name on which sorting will be calculated</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hierarchy">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Logical name of the Hierarchy </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId">
									<xs:annotation>
										<xs:documentation>reference Id is actually stored in the Hierarchy's Top Term. Thus a value defined here will be overriden by the hierarchies top term</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="transliteration" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Transliteration of logical name on which sorting will be calculated</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="facet" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The facet name that this hierarchy is classified under.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="term">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="descriptor" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Logical name of the Term </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="transliteration" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Transliteration of logical name on which sorting will be calculated</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="status" minOccurs="1" maxOccurs="1">
					<!--				<xs:simpleType>
						<xs:restriction base="xs:string">
								<xs:enumeration value="Για εισαγωγή"/>
								<xs:enumeration value="Υπό επεξεργασία"/>
								<xs:enumeration value="Υπό έγκριση"/>
								<xs:enumeration value="Εκδοθείς"/>
      						</xs:restriction>
					</xs:simpleType>
-->
				</xs:element>
				<xs:element name="bt" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The term's Broader Terms. If no broader term exists then it this term represents a Top Term (Facet or Hierarchy).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId" use="required"/>
							</xs:extension>
							<!-- this reference id should be included in the terms/term/descriptor/@referenceId -->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="nt" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The term's Narrower Terms. (inverse relationship of BT)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId" use="required"/>
								<xs:attribute name="linkClass">
									<xs:annotation>
										<xs:documentation>This optional attribute contains the node label (further categorization) that has been used for the defintion of the Narrower Term (inverse of Broader Term) relationship.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
							<!-- this reference id should be included in the terms/term/descriptor/@referenceId -->
							<!-- TODO: linkClass value restriction to the node labels defined in nodelabels field -->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="tc" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A code assigned to the term according to the needs of the scientific field that this thesaus is built for. (similar to Dewey number).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="translations" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A translation for this term. LinkClass attribute specifies the language identifier that has been used</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="linkClass">
									<xs:annotation>
										<xs:documentation>This optional attribute contains the translation identifier that determines the language in which the contained text is written.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
							<!-- 
								<xs:attribute ref="referenceId" use="required"/>
								-->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="rt" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The term's Related Terms.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId" use="required"/>
							</xs:extension>
							<!-- restriction that this reference id should be included in the terms/term/descriptor/@referenceId -->
							<!--
								<xs:attribute name="linkClass">
									<xs:annotation>
										<xs:documentation>This optional attribute contains the node label (further categorization) that has been used for the definition of the Related Term relationship.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								-->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="uf" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Non-preferred term that can be used as entry term for the thesaurus leading to the wrapper term.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string"/>
							<!-- 
								<xs:attribute ref="referenceId" use="required"/>
								-->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="uf_translations" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Non-preferred term in languages other than primary that can be used as entry term for the thesaurus leading to the wrapper term.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="linkClass">
									<xs:annotation>
										<xs:documentation>This optional attribute contains the translation identifier that determines the language in which the contained text is written.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
							<!-- 
								<xs:attribute ref="referenceId" use="required"/>
								-->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="primary_found_in" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Link to the source of the Term's primary language</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="translations_found_in" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Link to the source where the translations of the Term were found</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="created_by" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The creator's username. Preferrably 0..1 occurences, but in order to be combatible with data from other thesauri we accept it as multiple value.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="created_on" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The creation timestamp. Preferrably 0..1 occurences, but in order to be combatible with data from other thesauri we accept it as multiple value.</xs:documentation>
						<xs:documentation>Expected format is YYYY-MM-DD</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="modified_by" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The last modificator's name Preferrably 0..1 occurences, but in order to be combatible with data from other thesauri we accept it as multiple value.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="modified_on" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The timestamp of the last modification date.. Preferrably 0..1 occurences, but in order to be combatible with data from other thesauri we accept it as multiple value.</xs:documentation>
						<xs:documentation>Expected format is YYYY-MM-DD</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scope_note" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Scope note of the term that justifies its position in the thesaurus hierarchies.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="translations_scope_note" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The scope note of the term in languages other than the primary that are determined by the linkClass attribute. Repeat only for language variants.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="linkClass">
									<xs:annotation>
										<xs:documentation>This optional attribute contains the translation identifier that determines the language in which the contained text is written,</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="historical_note" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Note that is linked to the term providing information about its history in a free text fromat.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="externalLink" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Known URI describing exactly the same or a similar Concept as current term from an external vocabulary.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="matchtype">
									<xs:simpleType>
										<xs:annotation>
											<xs:documentation>This optional attribute contains the specification of the link and in case of existense it should be restricted to values: exactMatch or closeMatch.</xs:documentation>
										</xs:annotation>
										<xs:restriction base="xs:string">
											<xs:enumeration value="exactMatch"/>
											<xs:enumeration value="closeMatch"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="vocabularyId">									
										<xs:annotation>
											<xs:documentation>This optional attribute contains the specification of the External Vocabulary resource that this link was retrieved from. More data on this External Vocabulary resource can be defined in an external_vocabulary element.</xs:documentation>
										</xs:annotation>									
								</xs:attribute>
							</xs:extension>
							<!-- 
TODO define as a restriction
<xs:extension base="xs:string">
								<xs:attribute name="matchtype">
									<xs:simpleType>
											<xs:annotation>
												<xs:documentation>This optional attribute contains the specification of the link and in case of existense it should be restricted to values: exactMatch or closeMatch.</xs:documentation>
											</xs:annotation>
										<xs:restriction base="xs:string">
											<xs:enumeration value="exactMatch"/>
											<xs:enumeration value="closeMatch"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
-->
							<!-- 
								<xs:attribute ref="referenceId" use="required"/>
								-->
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The Logical name of the Source. Sources are uniquelly defined per database (that may contain multiple Thesauri). Thus, thesaurus reference Id is not currently applied here.</xs:documentation>
					</xs:annotation>
					<!--<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute ref="referenceId" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>-->
				</xs:element>
				<xs:element name="source_note" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A Rich text note describing current source in more detail.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="external_vocabulary">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="shortname" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The identifier name of the External Vocabulary that may be used as attribute (named vocabularyId) in term child element named externalLink.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- TODO: should include a language specifier -->
				<xs:element name="fullname" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The full name - title of the External Vocabulary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- TODO: should include a language specifier -->
				<xs:element name="description" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A Rich text note describing the External Vocabulary</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="uri" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>An accessible URI of the External Vocabulary root / home page / description or sparql endpoint</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A Text field for the specification of the version of  the data set that this External Vocabulary refers to.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="release_timestamp" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A Text field for the specification of the release timestamp that this data set refers to (in case no version is applicable).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute ref="index"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="nodelabel">
		<xs:annotation>
			<xs:documentation>The Logical name of the Broader Term Specialization category that is available for use in all BT-NT relationships. Node label defined here may have not been used at all in current Thesaurus - but it has been defined.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="index"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
